/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}

// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: #aeaeae;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}

html, body {
  height: 100%;
  margin: 0;
}

.card-box {
  height: 130px;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  h1, h2, h3 {
    margin: 0px;
  }
}

.card-item {
  flex: 0 0 100%
}

.top-border {
  border-top-width: 5px;
  border-top-style: solid;
  border-top-color: $blue;
}

.bandeau-blanc {
  height: 20px;
}

a:hover {
  text-decoration: none;
  opacity: 0.8;
}

.flexbox-buttons {
  display: flex;
  justify-content: space-around;
}
